{% extends "layout.html" %}

{% block title%}
    About
{% endblock %}

{% block main %}
    <div>
        <p class="about">
            This is the Final CS50 project and helps users to manage their <b>"TOdo"</b> in a <b>simple</b> and <b>effective</b> way!
        </p >
        <p class="about">You can <b>add</b>, <b>edit</b> and <b>delete</b> any task. We can also set the deadlines and priority of the task.</p>
        <p class="about">I know this is a very basic project but is <b>first</b> which i have built from scratch!</p>
    </div>

{% endblock %}
