{% extends "layout.html" %}

{% block title%}
    Change Password
{% endblock %}

{% block main %} 
    {% if error %}  
        <p class="error"><strong>Error:</strong> {{ error }}</p>
    {% endif %}
    <form action="/ChangePassword" method="POST" class="horizontal_form">
        
        <label for="old_password">Old Password</label>
        <input name="old_password" placeholder="Previous Password" type="password" autocomplete="off">
        
        <label for="password">Password</label>
        <input name="password" placeholder="Password" type="password" autocomplete="off">
        
        <label for="password_check">Password Confirmation</label>
        <input name="password_check" placeholder="Password(Again)" type="password" autocomplete="off">
        <div id="submit">
            <button type="submit" name="change" value="change"><a href="/">Change Password</a></button>
            <button type="submit" name="change" value="cancel" id="cancel"><a href="/">Cancel</a></button>
        </div>
    </form>
    

{% endblock %}